In [11]:
import pandas as pd

data_dhimas = pd.read_clipboard()

# Menampilkan data
print(data_dhimas)

   Nama Lengkap Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit)  \
0         adit       L      2023     173                        15
1        rayyan      L      2023     165                        13
2         felix      L      2023     156                        17
3        andrew      L      2023     168                        30
4         April      P      2023     176                        15
5       michael      L      2023     185                        17
6          Arik      L      2023     173                        30
7         Aurel      P      2023     173                        21
8         bahru      P      2023     171                        22
9          dewa      L      2023     175                        31
10         vira      L      2023     178                        25
11         dony      L      2023     173                        28
12         naya      P      2023     169                        10
13        kevin      L      2023     173                        30
14       hannan      L      2023     166                        30
15      bambang      L      2023     173                        36
16         jett      L      2023     170                        22
17         dafa      L      2023     160                        15
18        dimas      L      2023     163                        48

   wilayah tinggal
0          jakarta
1           bekasi
2           jaktim
3            depok
4        tangerang
5          jakarta
6           jakbar
7            jakut
8            depok
9          jakarta
10         jakarta
11          bekasi
12         jakarta
13          jaktim
14          jaktim
15           depok
16         jakarta
17          jakbar
18          bekasi

In [20]:
dhimas = data_dhimas[data_dhimas['Tinggi'] == 173]

# Menampilkan nama
print(dhimas)

   Nama Lengkap Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit)  \
0         adit       L      2023     173                        15
6          Arik      L      2023     173                        30
7         Aurel      P      2023     173                        21
11         dony      L      2023     173                        28
13        kevin      L      2023     173                        30
15      bambang      L      2023     173                        36

   wilayah tinggal
0          jakarta
6           jakbar
7            jakut
11          bekasi
13          jaktim
15           depok

In [21]:
dhimas['Tinggi'] = pd.to_numeric(dhimas['Tinggi'])

import numpy as np

dhimas['Tinggi'] = dhimas['Tinggi'].apply(lambda x: 'large' if x > 160 else 'small')

# Menampilkan DataFrame setelah modifikasi
print(dhimas)

   Nama Lengkap Gender  Angkatan Tinggi  Waktu Perjalanan (Menit)  \
0         adit       L      2023  large                        15
6          Arik      L      2023  large                        30
7         Aurel      P      2023  large                        21
11         dony      L      2023  large                        28
13        kevin      L      2023  large                        30
15      bambang      L      2023  large                        36

   wilayah tinggal
0          jakarta
6           jakbar
7            jakut
11          bekasi
13          jaktim
15           depok

C:\Users\Acer\AppData\Local\Temp\ipykernel_16956\695523088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dhimas['Tinggi'] = pd.to_numeric(dhimas['Tinggi'])
C:\Users\Acer\AppData\Local\Temp\ipykernel_16956\695523088.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dhimas['Tinggi'] = dhimas['Tinggi'].apply(lambda x: 'large' if x > 160 else 'small')

In [22]:
# Menambahkan kolom baru 'newvariable' 
dhimas['Jurusan'] = 'TIF23'
dhimas['Fakultas'] = 'FTI'

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(dhimas)

   Nama Lengkap Gender  Angkatan Tinggi  Waktu Perjalanan (Menit)  \
0         adit       L      2023  large                        15
6          Arik      L      2023  large                        30
7         Aurel      P      2023  large                        21
11         dony      L      2023  large                        28
13        kevin      L      2023  large                        30
15      bambang      L      2023  large                        36

   wilayah tinggal Jurusan Fakultas
0          jakarta   TIF23      FTI
6           jakbar   TIF23      FTI
7            jakut   TIF23      FTI
11          bekasi   TIF23      FTI
13          jaktim   TIF23      FTI
15           depok   TIF23      FTI

C:\Users\Acer\AppData\Local\Temp\ipykernel_16956\2034231393.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dhimas['Jurusan'] = 'TIF23'
C:\Users\Acer\AppData\Local\Temp\ipykernel_16956\2034231393.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dhimas['Fakultas'] = 'FTI'

In [23]:
dhimas = dhimas.drop(columns=['Fakultas'])

# Menampilkan DataFrame 'nama' 
print(dhimas)

   Nama Lengkap Gender  Angkatan Tinggi  Waktu Perjalanan (Menit)  \
0         adit       L      2023  large                        15
6          Arik      L      2023  large                        30
7         Aurel      P      2023  large                        21
11         dony      L      2023  large                        28
13        kevin      L      2023  large                        30
15      bambang      L      2023  large                        36

   wilayah tinggal Jurusan
0          jakarta   TIF23
6           jakbar   TIF23
7            jakut   TIF23
11          bekasi   TIF23
13          jaktim   TIF23
15           depok   TIF23

In [24]:
kolom1dan2 = data_dhimas.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

   Nama Lengkap Gender
0         adit       L
1        rayyan      L
2         felix      L
3        andrew      L
4         April      P
5       michael      L
6          Arik      L
7         Aurel      P
8         bahru      P
9          dewa      L
10         vira      L
11         dony      L
12         naya      P
13        kevin      L
14       hannan      L
15      bambang      L
16         jett      L
17         dafa      L
18        dimas      L

In [25]:
# Menggabungkan baris dari dua DataFrame
baris1sd4 = data_dhimas.iloc[0:4, :]
baris26sd30 = data_dhimas.iloc[26:30, :]
baris1sd30 = baris1sd4.append(baris26sd30)

# Menampilkan DataFrame baris1sd6
print(baris1sd30)

  Nama Lengkap Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit)  \
0        adit       L      2023     173                        15
1       rayyan      L      2023     165                        13
2        felix      L      2023     156                        17
3       andrew      L      2023     168                        30

  wilayah tinggal
0         jakarta
1          bekasi
2          jaktim
3           depok

C:\Users\Acer\AppData\Local\Temp\ipykernel_16956\2756271566.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  baris1sd30 = baris1sd4.append(baris26sd30)

In [26]:
data_dhimas_sort = data_dhimas.sort_values(by='Tinggi')

print(data_dhimas_sort)

   Nama Lengkap Gender  Angkatan  Tinggi  Waktu Perjalanan (Menit)  \
2         felix      L      2023     156                        17
17         dafa      L      2023     160                        15
18        dimas      L      2023     163                        48
1        rayyan      L      2023     165                        13
14       hannan      L      2023     166                        30
3        andrew      L      2023     168                        30
12         naya      P      2023     169                        10
16         jett      L      2023     170                        22
8         bahru      P      2023     171                        22
15      bambang      L      2023     173                        36
13        kevin      L      2023     173                        30
0         adit       L      2023     173                        15
7         Aurel      P      2023     173                        21
6          Arik      L      2023     173                        30
11         dony      L      2023     173                        28
9          dewa      L      2023     175                        31
4         April      P      2023     176                        15
10         vira      L      2023     178                        25
5       michael      L      2023     185                        17

   wilayah tinggal
2           jaktim
17          jakbar
18          bekasi
1           bekasi
14          jaktim
3            depok
12         jakarta
16         jakarta
8            depok
15           depok
13          jaktim
0          jakarta
7            jakut
6           jakbar
11          bekasi
9          jakarta
4        tangerang
10         jakarta
5          jakarta